/*
Shared css for FlowVariablePortView and TablePortView
*/
.scroller {
  width: 100%;
  overflow: auto;
}

table {
  min-width: 100%;
  border-collapse: collapse;
  font-family: "Roboto Condensed", sans-serif;
  contain: strict;

  & >>> th,
  & >>> td {
    padding: 0 6px;
    text-align: left;
    max-width: 1000px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
