/*
Shared css for FlowVariablePortView and TablePortViewBody
*/
td {
  white-space: pre;
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--knime-porcelain);
}
