/*
Shared css for FlowVariablePortView and TablePortView
*/
.scroller {
  width: 100%;
  overflow: auto;
}

.counts {
  margin-bottom: 20px;
  height: 19px;
  line-height: 19px;
  font-size: 14px;
}

.count {

  &:not(:first-child) {
     padding-left: 8px;
  }

  &:not(:last-child) {
    padding-right: 8px;
    border-right: 1px solid var(--knime-silver-sand);
  }
}

table {
  min-width: 100%;
  border-collapse: collapse;
  font-family: "Roboto Condensed", sans-serif;
  contain: strict;

  & >>> th,
  & >>> td {
    padding: 0 6px;
    text-align: left;
    max-width: 1000px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
