<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="false"
            class="org.knime.ui.java.browser.KnimeBrowserView"
            icon="icons/knime.png"
            id="org.knime.ui.java.browser.view"
            name="KNIME Modern UI"
            restorable="false">
      </e4view>
   </extension>
   <extension
         id="org.knime.ui.java.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/web-ui.css"
            id="org.knime.ui.java.theme"
            label="KNIME Modern UI">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.ui.java.prefs.KnimeUIPreferencePage"
            id="org.knime.ui.java.prefs.KnimeUIPreferencePage"
            name="KNIME Modern UI">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.ui.java.prefs.KnimeUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.knime.core.EarlyStartup">
      <provider
            class="org.knime.ui.java.OnEarlyStartup"
            startupStage="AFTER_PROFILES_SET">
      </provider>
      <provider
            class="org.knime.ui.java.OnEarlyStartup2"
            startupStage="BEFORE_WFM_CLASS_LOADED">
      </provider>
   </extension>
   <extension
         point="org.knime.product.preShutdown">
      <preShutdown
            class="org.knime.ui.java.OnPreShutdown">
      </preShutdown>
   </extension>

</plugin>
