function dispatchJsonrpcNotification(jsonrpcNotification) {
    window.jsonrpcNotification(jsonrpcNotification);
}

if (window.EquoCommService) {
    window.EquoCommService.on(
        '##JSON_RPC_NOTIFICATION_ACTION_ID##', 
        dispatchJsonrpcNotification, 
        e => console.error(e)
    );
    
    if (!window.jsonrpc) {
        window.jsonrpc = request => window.EquoCommService.send('##JSON_RPC_ACTION_ID##', JSON.stringify(request));
    }
}