name: "Copilot Setup Steps"

# Automatically run the setup steps when they are changed to allow for easy validation, and
# allow manual testing through the repository's "Actions" tab
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    defaults:
      run:
        working-directory: org.knime.ui.js

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: 10.7.0

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          cache-dependency-path: org.knime.ui.js/pnpm-lock.yaml
          node-version-file: "org.knime.ui.js/package.json"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install
