@import "@knime/styles/css/mixins";

@define-mixin truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @mixin-content;
}

@define-mixin multi-line-truncate $line-clamp: 2 {
  text-overflow: ellipsis;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
  overflow: hidden;
  overflow-wrap: break-word;

  @mixin-content;
}

@define-mixin kds-svg-icon-size-medium {
  width: 16px;
  height: 16px;
  stroke-width: 2.25px;
  @mixin-content;
}