@import "webapps-common/ui/css/variables";

* {
  --app-header-height: 43px;
  --app-toolbar-height: 50px;
  --app-side-bar-buttons-width: 40px;
  --app-update-banner-height: 100px;

  --sidebar-background-color: var(--knime-porcelain);
}
