@import "@knime/styles/css/variables";

* {
  --app-header-height: 43px;
  --app-download-banner-height: 66px;
  --app-toolbar-height: 50px;
  --app-side-bar-buttons-width: 40px;
  --app-update-banner-height: 100px;

  --sidebar-background-color: var(--knime-porcelain);
  --sidebar-panel-padding: var(--space-16);
}
